<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The great button game</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<body>

<div id="wrapper">

    <h1>This button has been pushed NUM_HERE time(s)</h1>

    <p>Push the button to update the count!<br /><button>Push the epic button</button></p>


</div>

</body>
</html>